extends base

block content
 samll=errorMessage
 form(method="POST")
  input( name="oldPassword", type="password", required, placeholder="기존 비밀번호를 입력하세요.")
  input( name="newPassword", type="password", required, placeholder="비밀번호를 입력하세요.")
  input( name="newPasswordConfirmation", type="password", required, placeholder="비밀번호를 다시 입력하세요.")
  input(type="submit", value="변경하기")