extends base
block content
 h4=pageTitle

 form(method="POST")
  input(name="title" type="text", value=`${video.title}`)
  input(name="description" type="text", value=`${video.description}`)
  input(type="submit", value="수정")