div.social-login
 a(href="/users/github/start").social__btn.social__btn--github
  i.fab.fa-github 
  |  Contuinue with github &rarr;
 br
 //- a(href="/users/kakao/start").social__btn.social__btn--kakao
 //-   img(src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg")